.menu {
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: dodgerblue;
    padding: 20px 40px;
}

.menu a:hover {
    background-color: greenyellow;
}

.background {
    text-align: center;
    background-image: url(img/polygons.png);
    background-repeat: no-repeat;
    padding: 200px 0px;
    background-position: center;
    color: honeydew;
}

.background a {
    text-decoration: none;
    color: snow;
    background-color: springgreen;
    padding: 10px 20px;
    border-radius: 10px;
}
.about h1 {
    text-align: center;
}
.about img {
    width: 400px;
    float: right;
}
.about {
    width: 1200px;
    margin: 0 auto;
}
.about p {
    text-align: justify;
}
.team {
    text-align: center;
}
.member {
    background-color: gold;
    width: 20%;
    display: inline-block;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: lightsalmon;
}
.member img {
    width: 100%;
}
.member a {
    background-color: green;
    padding: 14px 0;
    width: 100%;
    display: inline-block;
    border-radius: 10px;
    color: ivory;
    text-decoration: none;
}
.tariffs {
    text-align: center;
    background-color: grey;
    vertical-align: top;
}
.tariffs li {
    list-style-type: none;
    border-bottom: 1px solid gray;
    padding: 16px 0;
    background-color: honeydew;
}
.tariffs ol {
    width: 30%;
    display: inline-block;
}
#base {
    background-color: black;
    color: white;
}
.tariffs span {
    font-weight: 600;
}
.tariffs h1 {
    color: white;
}
.tariffs p {
    color: white;
}
.tariffs a {
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 7px 15px;
}
#base2 {
    background-color: teal;
    color: white;
}
#base3 {
    background-color: black;
    color: white;
}
.contacts {
    text-align: center;
    background-color: rgb(180, 180, 180);
}
.address {
    background-image: url(img/address.png);
}
.phone {
    background-image: url(img/phone.png);
}
.email {
    background-image: url(img/mail.png);
}
.contact {
    background-repeat: no-repeat;
    text-align: left;
    padding-left: 40px;
    margin-left: 5%;
    background-size: 18px 18px;
}
.contacts input {
    width: 95%;
    margin: 10px;
    padding: 8px;
}
.contacts button {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 7px 15px;
    border: none;
}
